body {
    background-color: antiquewhite;
}

title {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#opening {
    text-align:center;
}

#search-show-panel {
    float:right
}

section {
    display: grid
}

#search-panel {
    float: left;
    margin: 0 1.5%;
    width: 63%;
  }
#list-panel  {
    float: left;
    margin: 0 1.5%;
    width: 30%;
  }